<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Markdown</string>
		<key>FilterCommand</key>
		<string>Markdown</string>
		<key>FilterCommandExtension</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Textile</string>
		<key>FilterCommand</key>
		<string>Textile</string>
		<key>FilterCommandExtension</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>bash</string>
		<key>FilterCommand</key>
		<string>bash</string>
		<key>FilterCommandExtension</key>
		<string>sh</string>
	</dict>
</array>

</plist>
