<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Markdown</string>
		<key>FilterCommand</key>
		<string>Markdown</string>
		<key>FilterCommandExtension</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Textile</string>
		<key>FilterCommand</key>
		<string>Textile</string>
		<key>FilterCommandExtension</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Texy</string>
		<key>FilterCommand</key>
		<string>texy-filter</string>
		<key>FilterCommandExtension</key>
		<string>php</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>bash</string>
		<key>FilterCommand</key>
		<string>bash</string>
		<key>FilterCommandExtension</key>
		<string>sh</string>
	</dict>

	<!-- These aren't quite in use yet... need to fix up
	     RapidWeaver's irritating <br/> behaviour!

	<dict>
		<key>Name</key>
		<string>Colourise Code (C)</string>
		<key>FilterCommand</key>
		<string>source-highlight_c</string>
		<key>FilterCommandExtension</key>
		<string>sh</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Colourise Code (C++)</string>
		<key>FilterCommand</key>
		<string>source-highlight_cpp</string>
		<key>FilterCommandExtension</key>
		<string>sh</string>
	</dict>
	
	-->

	<!-- Feel free to add in your own markup filters here.  For now, the
	     Markup plugin requires that the filter reads the input stream as
	     UTF-8 and outputs as UTF-8
	-->

</array>

</plist>
